.textos {
    text-align: justify;
    padding: 8px 350px;
    font-size: 1.5rem;
  }
  
  .container  {
    text-align:center;
  }

h1{
    margin: -20px;
    margin-top: 20px;
    font-size: 2.5rem;
    text-align:center;
    color:#043a5d;
  }

h3{
  font-size: 1.5rem;
  text-align: center;                  
  color: black;
} 

p{
  padding-top: 10px;
}


  