.header {
  height: 50rem;
  width: 100%;
  background-size: cover;
  display:  block;
  align-items: flex-end;
  justify-content: center;
  background-position: 0px;
  background-image: url(../../assets/capasite.png);
}
