body {
  margin: 0;
  box-sizing: border-box;
}

textarea {
  margin: 0;
  box-sizing: border-box;
}

.container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background-image: url(../../assets/textura.png);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 250px;
  height: 300px;
  float: left;
  padding: 5rem;
  padding-bottom: 1rem;
}

.div-logo{
  width: 30%;
}

.div-menu {
  width: 70%;
  float: right;
}

.item {
  float: left;
  padding-top: 2.2rem;
  padding: 0;
}

.item .link {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 14px 16px;
  text-decoration: none;
  color: #043a5d;
}

